{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Напиток</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/Design3.css' %}">
</head>
<body>
    <div class="Zag1"> <img  src="../img/logo.png"  width="226" height="44"></div>
    <div class="block2">
     <p><b>Оплата картой</b></p>
     <p>Для продолжения операций переведите сумму на номер +79999999999</p>
     <div>
         <input type="button" class="kn2" value="Оплатить">
     </div> 
    </div>
    <div class="lol">
       <input class="inp" type='text' placeholder="Клиент"  name='first_name'>
     <div>
         <input type="button" class="kn2" value="Оплатить">
     </div> 
    </div>
</body>
</html>