{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Чай</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/Design3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/header.css' %}">
    <script src="{% static 'main/js/bell.js' %}"></script>
    <div class="header-icons">
        <a href="javascript:history.back()">Назад</a>
        <div class="icon-bell"></div>
        <div class="icon-circle" onclick="toggleDropdown()">A</div>
    </div>
</head>
<body>
    <div class="Zag1"> <img  src="{% static 'img/logo.png' %}"  width="226" height="44"></div>
    <div class="block2">
     <div id="square"><p>Черный</p></div>
     <div id="square"><p>Зеленый</p></div>
     <div id="square">
        <p>Ягодный</p>
    </div>

    </div>
    <div class="lol">
       <input class="inp" type='text' placeholder="Клиент"  name='first_name'>
     <div>
         <input type="button" class="kn2" value="Оплатить">
     </div> 
     <a href="{% url 'custom_logout' %}">Выход</a>
    </div>
</body>
</html>