{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Заказ</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/Design3.css' %}">
</head>
<body>
    <div class="Zag1"> <img  src="{% static 'img/logo.png' %}"  width="226" height="44"></div>
    <div class="block2">
     <p><b>Латте</b></p>
     <p>110</p>
     <p>Описание</p>
      <div>
         <p>Альтернативное молоко +60 р</p>
         <p><input type="checkbox" name="a" value="1">Банановое</p>
         <p><input type="checkbox" name="a" value="2">Кокосовое</p>
         <p><input type="checkbox" name="a" value="3">Миндальное</p>
      </div>
      <div>
         <p>Сироп +20 р</p>
         <p><input type="checkbox" name="a" value="1">Банан</p>
         <p><input type="checkbox" name="a" value="2">Кокос</p>
         <p><input type="checkbox" name="a" value="3">Миндаль</p>
      </div>
    </div>
    <div class="lol">
       <input class="inp" type='text' placeholder="Клиент"  name='first_name'>
     <div>
         <input type="button" class="kn2" value="Оплатить">
     </div> 
    </div>
</body>
</html>