{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/Design.css' %}">
</head>
<body>
    <div class="logo">
       <img  src="C:\Users\ksush\taskmanager\main\static\img">
    </div>
    <div class="Av">
    	<p><b>Авторизация</b></p>
    </div>
    <div class="block">Авторизация для сотрудников кофейни “Spring coffee”</div>
    <div class="Av1">
		<div>
      		<input class="one" type='text' placeholder="имя"  name='first_name'>
		</div>
		<div>
      		<input class="one" type="password"> 
		</div>
    </div>
    <div class= "Kn1">
      <input type="button" class="kn1" value="Войти">
    </div>  
    <div class="mt">
     <a href="#">Забыл пароль</a>
     <a href="#">Я директор</a>
    </div>
</body>
</html>