{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Бариста</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/design2.css' %}">
    <script src="{% static 'main/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'main/js/barista.js' %}"></script>
</head>
<body>
    <div class="sidenav">
        <img  src="{% static 'img/logo2.png' %}">
        <a href="/barista">Бариста</a>
        <a href="/doc">Документы</a>
        <a href="/menu">Меню</a>
        <a href="/stock">Акции</a>
        <a href="/cheklist">Чек-лист</a>
        <a href="/inv">Инвентаризация</a>
        <div class="niz">
            <a href="/set">Настройки</a>
            <a href="/accounts/logout/">Выйти</a> 
        </div>
    </div>
    <div class="block2">
     <div class="Zag1">
         <p><b>Бариста</b></p>
     </div>
     <div class="Zag2">
        <p><b>Список Бариста</b></p>
         <table>
             <tr>
              <th>№</th>
              <th>Имя</th>
              <th>Фамилия</th>
              <th>Логин</th>
              <th>Редактирование</th>
              <th>Блокировка</th>
              <th>Удалить</th>
            </tr>

{% for user in user_list %}
             <tr>
              <div id="my-element-{{ user.id }}" data-id="{{ user.id }}">
               <td>{{ user.id }}</td>
               <td>{{ user.first_name }}</td>
               <td>{{ user.last_name }}</td>
               <td>{{ user.username }}</td>
               <td><a href="/user/edit/?user_id={{ user.id}}">Редактировать</a></td>
               <td><a href="#">Блокировать</a></td>
               <td data-element-id="{{ user.id }}" onclick="deleteElement(event)">Удалить</td>
              </div>
            </tr>
{% endfor %}
         </table>
     </div>
     <a href="/barista/add/" class="kn2-link">
         <input type="button" class="kn2" value="Добавить" >
     </a> 
    </div>
</body>
</html>