{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Чек-лист</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/design2.css' %}">
</head>
<body>
    <div class="sidenav">
        <img  src="../img/logo2.png">
        <a href="#">Бариста</a>
        <a href="#">Документы</a>
        <a href="#">Меню</a>
        <a href="#">Акции</a>
        <a href="#">Чек-лист</a>
        <a href="#">Инвентаризация</a>
        <div class="niz">
            <a href="#">Настройки</a>
            <a href="#">Выйти</a> 
        </div>
    </div>
    <div class="block2">
     <div class="Zag1">
         <p><b>Чек-лист</b></p>
     </div>
     <div class="Zag2">
         <p><b>Утренняя Смена</b></p>
         <p>Включить кофе-машину</p>
         <p>Настроить помол</p>
         <p>Проверить Сроки годности молока</p>
     </div>
      <div>
         <a href="#">Добавить Задания</a>
      </div>
     <div class="Zag2">
         <p><b>Вечерняя Смена</b></p>
         <p>Выключить кофе-машину</p>
         <p>Помыть пол</p>
         <p>Проверить Сроки годности еды</p>
     </div>
      <div>
         <a href="#">Добавить Задания</a>
      </div>
      <div class="pole">
          <p>Описание</p>
      </div>
    </div>


</body>
</html>