{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Чек-лист</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/design2.css' %}">
    <script src="{% static 'main/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'main/js/task.js' %}"></script>
</head>
<body>
    <div class="sidenav">
        <img  src="{% static 'img/logo2.png' %}">
        <a href="/barista">Бариста</a>
        <a href="/doc">Документы</a>
        <a href="/menu">Меню</a>
        <a href="/stock">Акции</a>
        <a href="/cheklist">Чек-лист</a>
        <a href="/inv">Инвентаризация</a>
        <div class="niz">
            <a href="/set">Настройки</a>
            <a href="{% url 'custom_logout' %}">Выйти</a> 
        </div>
    </div>
    <div class="block2">
     <div class="Zag1">
         <p><b>Чек-лист</b></p>
     </div>
     <div class="Zag2">
{% for task in task_list %}   
        <div id="my-element-{{ task.idtask }}" data-id="{{ task.idtask }}">
         <p>{{ task.description }}</p>   
         <button onclick="deleteElement(event)">Удалить</button>
        </div>
{% endfor %}
     </div>
        <form action="/addTask" method="post">
        {% csrf_token %}
         <label for="description">Description:</label><br>
         <input type="text" id="description" name="description" maxlength="100"><br>
         <input type="submit" value="Submit">
        </form>
      <div>
         <a href="#">Добавить Задания</a>
      </div>
    </div>


</body>
</html>