{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Десерты</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/design2.css' %}">
</head>
<body>
    <div class="sidenav">
        <img  src="{% static 'img/logo2.png' %}">
        <a href="/barista">Бариста</a>
        <a href="/doc">Документы</a>
        <a href="/menu">Меню</a>
        <a href="/stock">Акции</a>
        <a href="/cheklist">Чек-лист</a>
        <a href="/inv">Инвентаризация</a>
        <div class="niz">
            <a href="/set">Настройки</a>
            <a href="/avt">Выйти</a> 
        </div>
    </div>
    <div class="block2">
     <div class="Zag1">
         <p><b>Десерты</b></p>
     </div>
     <div>
        <div class="container1">
          <div>
             <input class="inp" type='text' placeholder="название "  name='product_name'>
             <input class="inp" type='text' placeholder="состав"  name='description'>
          </div>
          <div>
             <input class="inp" type='text' placeholder="цена"  name='price'>
          </div>
          <div>
             <input class="inp" type='text' placeholder="id"  name='id'>
          </div>
          <form action="/desert/edit/" method="post">
            {% csrf_token %}
            <input type="hidden" id="id_desert" name="id_desert" maxlength="100" value="{{ desert_data.iddeserts }}"><br>
            <label for="name">Название:</label><br>
            <input type="text" id="name" name="name" maxlength="100" value="{{ desert_data.name }}"><br>
            <label for="price">Цена:</label><br>
            <input type="number" step="0.01" id="price" name="price" max="999999.99" value="{{ desert_data.price }}"><br>
            <label for="description">Состав:</label><br>
            <input type="text" id="description" name="description" maxlength="100" value="{{ desert_data.description}}"><br>
            <input type="submit" value="Submit">
        </form>
        </div>   
    <div>
        <input type="button" class="kn2" value="Сохранить" helf="barista2">
    </div> 
</body>
</html>