{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Инвентаризация</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/design2.css' %}">
</head>
<body>
    <div class="sidenav">
        <img  src="{% static 'img/logo2.png' %}">
        <a href="/barista">Бариста</a>
        <a href="/doc">Документы</a>
        <a href="/menu">Меню</a>
        <a href="/stock">Акции</a>
        <a href="/cheklist">Чек-лист</a>
        <a href="/inv">Инвентаризация</a>
        <div class="niz">
            <a href="/set">Настройки</a>
            <a href="#">Выйти</a> 
        </div>
    </div>
    <div class="block2">
     <div class="Zag1">
         <p><b>Инвентаризация</b></p>
     </div>
       <div class="container1">
          <div>
             <input class="inp1" type='text' placeholder="товар" >
             <input class="inp2" type='number' placeholder="ост1">
             <input class="inp2" type='number' placeholder="ост2">
             <input class="inp2" type='number' placeholder="разн">
             <input class="inp1" type='text' placeholder="причина" >
          </div>
          <div>
             <input class="inp1" type='text' placeholder="товар" >
             <input class="inp2" type='number' placeholder="ост1">
             <input class="inp2" type='number' placeholder="ост2">
             <input class="inp2" type='number' placeholder="разн">
             <input class="inp1" type='text' placeholder="причина" >
          </div>
          <div>
             <input class="inp1" type='text' placeholder="товар" >
             <input class="inp2" type='number' placeholder="ост1">
             <input class="inp2" type='number' placeholder="ост2">
             <input class="inp2" type='number' placeholder="разн">
             <input class="inp1" type='text' placeholder="причина" >
          </div>
          <div>
             <input type="button" class="kn2" value="Сохранить">
          </div> 
        </div>
    </div>
    


</body>
</html>