{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Утро</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/Design3.css' %}">
</head>
<body>
    <div class="block2">
     <div class="Zag1">
         <p><b>Утренняя смена</b></p>
     </div>
     <div class="Zag2">
         <p><b>Задания</b></p>
         <p><input type="checkbox" name="a" value="1">Включить кофемашину</p>
         <p><input type="checkbox" name="a" value="2">Настроить помол</p>
         <p><input type="checkbox" name="a" value="3">Проверить сроки молока</p>
     </div>
     <div>
        <input type="button" class="kn2" value="Сохранить">
     </div> 
    </div>
</body>
</html>