{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/static/main/css/design2.css' %}">
</head>
<body>
    <div class="sidenav">
        <img  src="../img/logo2.png">
        <a href="#">Бариста</a>
        <a href="#">Документы</a>
        <a href="#">Меню</a>
        <a href="#">Акции</a>
        <a href="#">Чек-лист</a>
        <a href="#">Инвентаризация</a>
        <div class="niz">
            <a href="#">Настройки</a>
            <a href="#">Выйти</a> 
        </div>
    </div>
    <div class="block2">
     <div class="Zag1">
         <p><b>Настройки</b></p>
     </div>
     <div>Ваш пароль</div>
     <div class="block">
        <input class="one" type="password"> 
        <input class="one" type="password">
     </div>
     <div class="mt">
     <a href="#">Забыл пароль</a>
     <a href="#">Сменить пароль</a>
    </div>
     <div>Введите почту</div>
     <div>
         <input class="one" type='text' placeholder="e-mail"  name='e-mail'>
     </div>

     <div class= "Kn1">
         <input type="button" class="kn2" value="Сохранить">
     </div> 
     <div class="Zag2">
         <p><b>Настройки</b></p>
     </div>
     <a href="#">Русский</a>
     <a href="#">Английский</a>
    </div>
</body>
</html> 