{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Акции</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/Design.css' %}">
</head>
<body>
    <div class="sidenav">
        <img  src="../img/logo2.png">
        <a href="#">Бариста</a>
        <a href="#">Документы</a>
        <a href="#">Меню</a>
        <a href="#">Акции</a>
        <a href="#">Чек-лист</a>
        <a href="#">Инвентаризация</a>
        <div class="niz">
            <a href="#">Настройки</a>
            <a href="#">Выйти</a> 
        </div>
    </div>
    <div class="block2">
     <div class="Zag1">
         <p><b>Акции</b></p>
     </div>
     <div class="Zag2">
         <p><b>Список Акций</b></p>
         <p> Шестая чашка кофе в подарок</p>
         <p> Скидка постоянным клиентам</p>
         <p> Кофе по промокоду</p>
     </div>
      <div>
         <a href="#">Добавить Акцию</a>
      </div>
    </div>

</body>
</html>
</body>
</html>