{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>task</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/Design3.css' %}">
</head>
<body>
    <div class="Zag1"> <img  src="{% static 'img/logo.png' %}"  width="226" height="44"></div>
   <div class="blockTaskWithButton">
    <div class="blockTask">
        {% for task in task_list %}
          <div class="task-item">
            <p>{{ task.description }}9999999999999</p>
            <input type="checkbox" class="task-checkbox">
          </div>
        {% endfor %}
        <div>
            <input type="button" class="kn2" value="Сделано">
        </div> 
      </div>

   </div>
</body>
</html>