
{% block content %}
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/Design.css' %}">
</head>
<body>
  <div class="logo">
     <img  src="{% static 'img/logo.png' %}">
  </div>
  <div class="Av">
    <p><b>Авторизация</b></p>
  </div>
  <div class="block">Авторизация для сотрудников кофейни “Spring coffee”</div>


{% if form.errors %}
  <p>Неверно введены логин или пароль. Попробуйте снова.</p>
{% endif %}

<form method="post" action="{% url 'custom_login' %}">
{% csrf_token %}
<div class="Av1">
  <div>
    <label for="id_username">Имя пользователя:</label>
    <input class="one" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
  </div>

  <div>
    <label for="id_password">Пароль:</label>
    <input class="one" type="password" name="password" autocomplete="current-password" required="" id="id_password">
  </div>
</div>



<input class="kn1" type="submit" value="Войти" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}
