.Zag1 {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}

.block2 {
  text-align: center;
  margin-top: 50px;
  height: 100%;
  width: 70%;
  position: fixed;
  left: 10;
  overflow-x: hidden;
  padding-top: 20px;
}

#square {
margin: 10px;
width: 100px;
height: 100px;
background-color: white;
border: 1px solid grey;
border-radius: 10px;
text-align: center;
display: inline-flex;
flex-direction: column;
justify-content: center;
}

.Kn2{
  display: flex;
    
  justify-content: center;
  align-items: center;
  position: sticky;
}

.kn2{
  margin-bottom: 20px;
  flex-direction: row;
  max-content: 300px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #419152;
  line-height: 22px;
  height: 40px;
  width: 110px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
}



.lol{
    margin-top: 50px;
    text-align: center;
    height: 100px; 
    margin-left: 70%;
    margin-right: 20px;
}

.inp {
  padding: 7 px;
  margin: 10px;
  width:80%;
  height: 40px;
}

.inp1 {
  padding: 7 px;
  margin: 10px;
  width:30%;
}

.inp2 {
  padding: 7 px;
  margin: 10px;
  width: 50px;
}

.container {
  display:inline-block;;
  justify-content: space-between;
  /*background-color: gray;*/
  padding: 7 px;
  margin: 100px;
}

.container div {
  height: 40px;
  width: 70px;
}

.milk-container {
  flex: 1;
}

.syrup-container {
  flex: 0 0 auto;
  margin-left: 20px;
}
